{% extends "base.html" %}

{% block content %}
	{% if publications %}
		<a class="bibtex_link" href="?format=bibtex">BibTex</a>
		<h1>Publications by {{ author.display }}</h1>
		{% for type, tname in types %}
					<h2>{{ tname }}</h2>
					{% for publication in publications %}
						{% if publication.type == type %}
						<div{% if not forloop.last %} style="margin-bottom: 20px;"{% endif %}>
							{% include "publications/publication.html" %}
						</div>
						{% endif %}
					{% endfor %}
				</div>
		{% endfor %}
	{% else %}
		Sorry, no publications found for {{ author.display }}.
	{% endif %}
{% endblock %}
