{% extends "base.html" %}
{% load publicationtags %}

{% block content %}
<div class="publication publication_type_{{ publication.type.identifier }}">
<h1>{{ publication.title }}</h1>
<div class="primary_authors">
{% for author in publication.primary_authors %}
<span class="person">
{% if author.public %}<a href="{{ author.get_absolute_url }}">{{ author.full_name }}</a>{% else %}{{ author.full_name }}{% endif %}</span>{% if not forloop.last %}{% if forloop.revcounter == 2 %}{% if not forloop.first %},{% endif %} and {% else %}, {% endif %}{% endif %}
{% endfor %}
</div>
<div class="published">
{% if publication.journal %}
	<i>{{ publication.journal }}, {{ publication.year }}</i><br />
{% else %}
	<i>{% if publication.book_title %}{{ publication.book_title }},{% endif %}
	{% if publication.publisher %}{{ publication.publisher }},{% endif %}
	{{ publication.year }}</i><br/>
{% endif %}
</div>
{% if publication.abstract %}
<div class="abstract">{{ publication.abstract }}</div>
{% endif %}
{% if publication.keywords %}
<div class="keywords">
	{% for keyword in publication.keywords.all %}
		<a class="keyword" href="{% url publications-keyword keyword=keyword.slug %}">{{ keyword }}</a>
	{% endfor %}
</div>
{% endif %}
<h2>Resources</h2>
<ul>
{% if publication.code %}<li><a class="link" href="{{ publication.code }}">Code</a></li>{% endif %}
{% if publication.url %}<li><a class="link" rel="external" href="{{ publication.url }}">URL</a></li>{% endif %}
{% if publication.file %}<li><a class="link" href="{{ MEDIA_URL }}{{ publication.file }}">File</a></li>{% endif %}
{% if publication.doi %}<li><a class="link" rel="external" href="http://dx.doi.org/{{ publication.doi }}">DOI</a></li>{% endif %}
<li><a href="{{ publication.get_absolute_url }}?format=bibtex">Export as BibTex</a></li>
</ul>
</p>
<h2>Linking</h2>
<p class="linking">
<tt lang="link" class="markup">&lt;a href="{% absolute_url publication.get_absolute_url %}"&gt;{{ publication.title }}&lt;/a&gt;</tt>
</p>
</div>
{% endblock %}
