{% extends "base.html" %}
{% load publicationtags %}
{% load tagging_tags %}
{% block content %}
<div class="publication publication_type_{{ publication.type }}">
<h1>{{ publication.title }}</h1>

{% if user.is_authenticated %}
<ul class="tools">
{% if perms.publications.change_publication %}
<li><a href="{% url admin:publications_publication_change publication.pk %}">Edit</a></li>
{% endif %}
{% if perms.publications.delete_publication %}
<li><a href="{% url admin:publications_publication_delete publication.pk %}">Delete</a></li>
{% endif %}
</ul>
{% endif %}

<div class="authors">
{% for author in publication.authors %}
<span class="person">
{% if author.public %}<a href="{{ author.get_absolute_url }}">{{ author.full_name }}</a>{% else %}{{ author.full_name }}{% endif %}</span>{% if not forloop.last %}{% if forloop.revcounter == 2 %}{% if not forloop.first %},{% endif %} and {% else %}, {% endif %}{% endif %}
{% endfor %}
</div>
    <div class="published">{% if publication.within %}{{ publication.within }}, {% endif %}{% if publication.publisher %}{{ publication.publisher }}, {% endif %}{{ publication.year }}</div>
{% if publication.abstract %}
<div class="abstract">{{ publication.abstract }}</div>
{% endif %}
{% tags_for_object publication as tags %}
{% if tags %}
<div class="tags">
	{% for tag in tags %}
		<a class="tag" href="{% url publications-tag tag=tag.slug %}">{{ tag }}</a>
	{% endfor %}
</div>
{% endif %}
<h2>Resources</h2>
<ul>
{% if publication.code %}<li><a class="link" href="{{ publication.code }}">Code</a></li>{% endif %}
{% if publication.url %}<li><a class="link" rel="external" href="{{ publication.url }}">URL</a></li>{% endif %}
{% if publication.file %}<li><a class="file" href="{% url publication-files publication_id=publication.id %}">File</a></li>{% endif %}
{% if publication.doi %}<li><a class="doi" rel="external" href="http://dx.doi.org/{{ publication.doi }}">DOI</a></li>{% endif %}
{% for exporter in exporters %}
<li><a class="exporter" href="{{ publication.get_absolute_url }}?format={{ exporter.identifier }}">Export to {{ exporter.name }}</a></li>
{% endfor %}
</ul>
</p>
<h2>Embedding</h2>
<p class="embedding">
<tt lang="link" class="markup">&lt;a href="{% absolute_url publication.get_absolute_url %}"&gt;{{ publication.title }}&lt;/a&gt;</tt>
</p>
</div>
{% endblock %}
