{% extends "base.html" %}
{% load publicationtags %}
{% block content %}
	<h1>{{ title }}</h1>
	{% include "publications/formats.html" %}
	{% for type, publications in types %}
		<h2>{{ type.title }}</h2>
		<ul class="order_years publications type_{{ type.identifier }} {% if forloop.last %}last{% endif %}{% if forloop.first %}first{% endif %}">
		{% for publication in publications %}
			<li class="{% if forloop.last %}last{% endif %}{% if forloop.first %}first{% endif %} {% cycle 'odd' 'even' %}">
				{% publication_inline publication %}
			</li>
		{% endfor %}
		</ul>
	{% endfor %}
{% endblock %}
