{% extends "base.html" %}
{% load publicationtags %}
{% block content %}
	<h1>{{ title }}</h1>
	{% include "publications/formats.html" %}
	{% for year, publications in years %}
		<h2><a href="{% url publications-year year=year %}">{{ year }}</a></h2>
		<div{% if not forloop.last %} style="margin-bottom: 30px;"{% endif %}>
		{% for publication in publications %}
			<div{% if not forloop.last %} style="margin-bottom: 20px;"{% endif %}>
				{% publication_inline publication %}
			</div>
		{% endfor %}
		</div>
	{% endfor %}
{% endblock %}
