{% extends "admin/base_site.html" %}
{% load i18n admin_modify staticfiles %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "css/forms.css" %}" />{% endblock %}
{% block breadcrumbs %}
	<div class="breadcrumbs">
		<a href="../../../">{% trans "Home" %}</a> &rsaquo;
		<a href="../../">Publications</a> &rsaquo;
		<a href="../">Publications</a> &rsaquo;
		Merge People
	</div>
{% endblock %}
{% block content %}
	<div id="content-main">
		<form method="post" action="{% url "admin:merge_people" %}">
			{% csrf_token %}
			{{ bib }}
			<div>
			<input type="hidden" name="groups_count" value="{{ groups|length }}" />
			{% for group in groups %}
			<fieldset class="module aligned ">
			<h2>Merge people - Please select the object to keep after merge</h2>
			{% for entry in group %}
			<div class="form-row identifier">
			<input type="radio" name="group{{ forloop.parentloop.counter }}" value="{{ entry.id }}" />  {{ entry.full_name }}<br />
			</div>
			{% endfor %}
			<input type="hidden" name="group{{ forloop.counter }}_set" value="{% for entry in group %}{{ entry.id }} {% endfor %}" />
			</fieldset>
			{% endfor %}
			<div class="submit-row">
				<input type="submit" value="Cancel" name="_cancel" />
				<input type="submit" value="Merge" class="default" name="_save" />
			</div><br clear="all" />
			</div>
		</form>
	</div>
{% endblock %}
