body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10pt;
	line-height: 14pt;
	padding: 20px;
}

h1 {
	font-size: 14pt;
	font-weight: normal;
	line-height: 24pt;
	margin: 0px;
	padding: 0px;
	color: #aaa;
	border-bottom: 1px solid #ddd;
	margin-bottom: 15px;
}

h2 {
	font-size: 14pt;
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #999;
}

ul.formats {
	display: block;
	float: right;
}

ul.formats li {
	display: inline-block;
	
}

ul.publications {
	padding: 0;
}

ul.publications li {
	list-style-type: none;
	margin: 0 0 20px 0;
}

.publication_inline .title {
	color: black;
	font-weight: bold;
	font-size: 105%;
}

a.keyword {
	color: black;
	background: #ddd;
	padding: 2px 6px;
	font-size: 9px;
	border-radius: 4px;
}

a.keyword:hover {
	color: black;
	background: #aaa;
}

tt.markup {
	background: #ddd;
	padding: 10px;
}
